.header__nav-link {
    color: var(--dark);
    text-decoration: none;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
}
.header__nav-link:hover,
.header__nav-link--active { color: var(--primary); }
.header__nav-link--active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
}
